*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
header{
  width: 100%;
  height: 1.4%;
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  box-shadow: 0 1px 0 0 #110038;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
}
#logo{
  content: url(./assets/logo.png);  
}
#m{
  text-decoration: underline;
}

/*Buttons section*/
.buttons-section{
  display: flex;
  width: 83.4%;
  margin-left: 6.9%;
  margin-right: 9.7%;
  margin-top:2%;
}
#theme{
  display: flex;
  width: 5rem;
}
.buttons{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.button{
  width: 7rem;
  height: 2rem;
  background: #F7C9F3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  margin-left: 1rem;
}
.button:hover{
  cursor: pointer;
  background: #E6BBE2;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  border: 1px dotted #110038;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button:focus,#button3:focus,.more-button:focus, .search-button:focus{
  outline: none;
}
#dropdown{
  margin-left: 8rem;
  width: 1.5rem;
  height: 2rem;
  position: absolute;
  text-align: center;
  padding-top: 0.5%;
  z-index: 1;
  background: #F7C9F3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  
}
#dropdown:hover{
  padding-top: 0;
  cursor: pointer;
  border: 1px dotted #110038;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #DFB0D5;
}
#button2{
  position: absolute;
  z-index: 1;
}
#button3{
  margin-left: 6rem;
  background: none;
  border: none;
  width: 7rem;
  height: 2rem;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}
#button3:hover{
  cursor: pointer;
  border: 1px dotted #110038;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}
#button3:active{
    color: #98979D;
    border-style: none;
}

.under1{
  text-decoration: underline;
}
/*User search section and results*/
#main-search{
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  margin-left: 6.9%;
  margin-right: 9.7%;
  width: 83.4%;
  height: 6rem;
}
.search-button{
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  width: 7%;
  height: 2.5rem;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #B4B4B4;
  letter-spacing: 0;
  line-height: 18px;
}
.search-button img{
  margin-right: 5%;
}
.search-change{
  cursor: pointer;
  width: 7%;
  height: 2.5rem;
  background: #E6BBE2;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  border: 1px dotted #110038;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #110038;
}
.search-change img{
  margin-right: 5%;
  background-image: url(./assets/lupa.svg);
}


#main-search h2{
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  width: 100%;
  height: 24px;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 1.5rem;
  padding-left: 0.5rem;
}
#search-input{
  width:90%;
  margin-top: 0.5%;
  margin-left: 1%;
  height: 3rem;
  background: #FFFFFF;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  padding-left: 0.5rem;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #D6D1D0;
  letter-spacing: 0;
  line-height: 22px;
  outline: none;
}
.results-container, #masbotones{
  margin-left: 6.9%;
  margin-right: 9.7%;
  width: 83.4%;
}
#search-results{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section-tittle{
  margin-top: 3%;
  width: 100%;
  height: 2rem;
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  line-height: 2rem;
}
#searchSuggestions{
  visibility: hidden;
  width: 83.5%;
  position: absolute;
  z-index: 1;
  margin-top: 1%;
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  height: 7.5rem;
}
.button-searchSuggestions{
  width: 90%;
  height: 1.5rem;
  margin-top: 1%;
  margin-left: 1%;
  background: #F0F0F0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}
.button-searchSuggestions:hover{
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  border: 1px dotted #110038;
  background: #DAD3D1;
  cursor: pointer;
}
.otrosbotones{
  padding: 1rem;
  margin-right:1rem;
  margin-top: 1rem;
  font-family: "ChakraPetch-Bold", sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 18px;
  background: #4180F6;
  border: 1px solid #4C2F99;
  box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
}
.otrosbotones:hover{
  cursor: pointer;
}
/*Trends section*/
#trend-image{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-text-size-adjust: 100%;
  margin-top: 2rem;
}
.item-trend:hover{
  cursor: pointer;
  outline: white 3px ridge;
  border: 1px dotted #110038;
}
.gif-titles{
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  position: absolute;
  bottom: 0%;
  font-family: "ChakraPetch-Bold", sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  width: 100%;
}
.caja{
  position: relative;
  margin-top: 1rem;
}
/*Suggestions section*/
#suggest-results, #suggest-gifs, #suggest-search{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3%;
}
.suggest-item{
  outline: white 3px ridge;
  width: 100%;
}
.suggest-item:hover{
  outline: white 3px ridge;
  border: 1px dotted #110038;
  cursor: pointer;
}
.suggest-gifs{
  width: 23%;
}
.suggest-titles{
  border-top: white 1px ridge;
  position: absolute;
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  font-family: "ChakraPetch-Bold", sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  margin-top: -204px;
  width: 19.2%;
}
.more-button{
  font-family: 'ChakraPetch', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  background: #4180F6;
  border: 1px solid #4C2F99;
  box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
  width: 5rem;
  height: 2rem;
  position: absolute;
  z-index: 1;
  margin-top: 9.5rem;
  margin-left: -18%;
}
.more-button:hover{
  border: 0.00001px dotted #110038;
  cursor: pointer;
}

.close{
  position: absolute;
  margin-top: 0.1rem;
  margin-left: -1.2rem;
}
.gifSuggestSearch{
  padding-top: 1rem;
}

/*MENU DESPLEGABLE*/
.menu{
   margin-left: -2000px;
}
.menu ul{
  list-style: none;
  font-family: "ChakraPetch", sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  padding: 0;
  background: #F0F0F0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  width: 8.5rem;
  height: 5rem;
  margin-top: 1.7rem;
}
.menu li a{
  text-decoration: none;
  margin-left: 0.5rem;
}
.menu li{
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  background: #FFF4FD;
  border: 1px solid #CCA6C9;
  box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
  width: 90%;
  height: 37%;
}
.menu li:active{
  background: #F0F0F0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}
.menu li a:active{
  color: #110038;
}
#btn-menu{
  display: none;
}
#btn-menu:checked ~ .menu{
  display: flex;
  margin-left: 1rem;
}
/*prueba*/

.change1{
  background: #F7C9F3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  font-family: "ChakraPetch", sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 18px;
  width: 7%;
  height: 2.5rem;
  cursor: pointer;
}
.change1 img{
  margin-right: 5%;
  background-image: url(./assets/lupa.svg);
}
